@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px) {
  body {
    background-color: rgb(243, 240, 240);
    height: 100%;
  }

  .logo {
    width: 200px;
  }

  h1 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 1.3em;
    color: white;
  }

  h2 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  h3 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    color: black;
  }

  p {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
  }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px) {
  body {
    background: white;
    height: 100%;
  }

  .logo {
    width: 350px;
  }

  h1 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 2em;
    color: white;
  }

  h2 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  h3 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    color: black;
  }

  p {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
  }
}

/* Header */
header {
  background: #fff;
}

/* Nav */

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 24px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    list-style: none;
    margin: 0 20px;
  }

  a {
    text-decoration: none;
    color: #003459;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s ease;
  }

  .nav-item a:hover,
  .nav-item a.active {
    color: #1091fb;
  }

  .nav-item a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #1091fb;
    transition: 0.3s ease;
  }

  .hamburger {
    display: none;
  }

}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){

  .navbar {
    display: block;
    min-height: 70px;
  }

  .nav-menu {
    display: none;
    width: 100%;
  }

  .nav-menu.show {
    display: flex;
  }

  .hamburger {
    margin-left: 400px;
    margin-top: -55px;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    outline: none;
    background: none;
    border: none;
  }

  .hamburger .bar, .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #1091fb;
    margin: 6px 0px;
    transition: 0.3s;
  }



}

/* Trending */

.article-link {
  text-decoration: none;
  color: whitesmoke;
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px) {

  .container {
    display: grid;
    width: 100%;
    height: 700px;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 200px 200px;
    background-color: #444;
    color: #fff;
    grid-template-areas:
      "a b"
      "a c"
      "a d";
  }

  .trending {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 120%;
    margin-top: 30px;
  }

  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }

  .trending-img {
    width: 750px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 25px;
  }

  .trending-news-date {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
    margin-left: 25px;
  }

  .trending-news-main-title {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 25px;
  }

  .trending-news-title {
    font-size: 18px;
    color: #ffffff;
    margin-top: 60px;
  }

  .trending-news-preview {
    color: #ffffffd2;
    font-size: 18px;
    margin-left: 25px;
  }

  .trending-side-img {
    width: 250px;
    height: 200px;
    float: left;
    object-fit: cover;
    border-radius: 25px;
    padding: 20px;
    margin-top: -20px;
  }
}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
  .container {
    display: grid;
    width: 100%;
    height: 900px;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    background-color: #444;
    color: #fff;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

  .trending {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
  }

  .a {
    grid-area: a;

  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }

  .trending-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 25px;
  }

  .trending-news-date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 25px;
  }

  .trending-news-main-title {
    font-size: 15px;
    color: #ffffff;
    margin-left: 25px;
  }

  .trending-news-title {
    font-size: 15px;
    color: #ffffff;
    margin-top: 60px;
  }

  .trending-news-preview {
    color: #ffffffd2;
    font-size: 12px;
    margin-left: 25px;
  }

  .trending-side-img {
    width: 200px;
    height: 150px;
    float: left;
    object-fit: cover;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
  }

}

/* Highlight News */


/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px) {
  .highlight-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 400px;
    grid-template-areas:
                      "one two three"
                      "four five six";
    background-color: rgb(243, 240, 240);
    color: #444;
    width: 100%;
    height: 910px;
  }

  .news {
    border-radius: 5px;
    font-size: 150%;
    margin-top: 50px;
    margin-left: 20px;
  }

  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }

  .hightlight-news-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .highlight-news-date {
    font-size: 14px;
    color: rgba(2, 10, 236, 0.6);
    margin-bottom: 8px;
  }

  .highlight-news-title {
    font-size: 20px;
    color: #003459;
    margin-bottom: 10px;
  }

  .highlight-news-preview {
    color: #003459;
    font-size: 15px;
  }
}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
  .highlight-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 400px;
    grid-template-areas:
                      "one"
                      "two"
                      "three"
                      "four"
                      "five"
                      "six";
    background-color: rgb(243, 240, 240);
    color: #444;
    width: 100%;
  }

  .news {
    border-radius: 5px;
    font-size: 150%;
    margin-top: 50px;
    margin-left: 20px;
  }

  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }

  .hightlight-news-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .highlight-news-date {
    font-size: 14px;
    color: rgba(2, 10, 236, 0.6);
    margin-bottom: 8px;
  }

  .highlight-news-title {
    font-size: 20px;
    color: #003459;
    margin-bottom: 10px;
  }

  .highlight-news-preview {
    color: #003459;
    font-size: 15px;
  }
}


/* Highlight Video */


/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px) {

.highlight-videos {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  color: #fff;
  height: 450px;
  padding: 25px;
}

iframe {
  height: 400px;
}
}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
  .highlight-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #444;
    color: #fff;
    height: 700px;
    align-items: center;
  }


}




/* Footer */


/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px) {

footer {
  background-color: rgb(243, 240, 240);
  height: 100px;
  text-align: center;
}

.footer-logo {
  width: 180px;
  height: 70px;
}

.copyright-text {
  text-align: center;
}
}

/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
  footer {
    background-color: rgb(243, 240, 240);
    height: 100px;
    text-align: center;
  }

  .footer-logo {
    width: 180px;
    height: 70px;
  }

  .copyright-text {
    text-align: center;
  }
}

/*  Videos Page */

/*  Podcasts Page */

/*  Brands Page */

/*  Subscribe Page */
