@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}


/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px) {
  body {
    background-color: rgb(243, 240, 240);
    height: 100%;
  }

  .logo {
    width: 200px;
  }

  h1 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 1.3em;
    color: white;
  }

  h2 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  h3 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    color: black;
  }

  p {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
  }
}

/*Desktop-------------------------------------*/
@media only screen and (min-width: 768px) {
  body {
    background: white;
    height: 100%;
  }

  .logo {
    width: 350px;
  }

  h1 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 2em;
    color: white;
  }

  h2 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }

  h3 {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 17px;
    color: black;
  }

  p {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 15px;
    color: black;
  }
}

/* Header */
header {
  background: #fff;
}

/* Navigation */

/*Desktop Nav-------------------------------------*/
@media only screen and (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 24px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    list-style: none;
    margin: 0 20px;
  }

  a {
    text-decoration: none;
    color: #003459;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s ease;
  }

  .nav-item a:hover,
  .nav-item a.active {
    color: #1091fb;
  }

  .nav-item a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #1091fb;
    transition: 0.3s ease;
  }

  .navbar-toggle {
    display: none;
  }
}

/*Mobile Nav-------------------------------------*/
@media only screen and (max-width: 570px){
  .navbar {
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.6s ease;
  }

  .nav-menu {
    list-style-type: none;
    display: none;
}

  li {
    text-align: center;
    margin: 15px auto;
  }

  a {
    text-decoration: none;
    color: #003459;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s ease;
  }

  .navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
  }

  .activate {
    display: block;
  }

  .nav-item a:hover,
  .nav-item a.active {
    color: #1091fb;
  }

  .nav-item a.active::after {
    display: block;
    height: 2px;
    transition: 0.5s ease;
  }


}

/* Trending */

.article-link {
  text-decoration: none;
  color: whitesmoke;
}

/*Desktop Trending-------------------------------------*/
@media only screen and (min-width: 768px) {

  .container {
    display: grid;
    width: 100%;
    height: 700px;
    grid-gap: 1rem;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 200px 200px;
    background-color: #444;
    color: #fff;
    grid-template-areas:
      "a b"
      "a c"
      "a d";
  }

  .trending {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 120%;
    margin-top: 30px;
  }

  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }

  .trending-img {
    width: 750px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 25px;
  }

  .trending-news-date {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
    margin-left: 25px;
  }

  .trending-news-main-title {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 25px;
  }

  .trending-news-title {
    font-size: 18px;
    color: #ffffff;
    margin-top: 60px;
  }

  .trending-news-preview {
    color: #ffffffd2;
    font-size: 18px;
    margin-left: 25px;
  }

  .trending-side-img {
    width: 250px;
    height: 200px;
    float: left;
    object-fit: cover;
    border-radius: 25px;
    padding: 20px;
    margin-top: -20px;
  }
}

/*Mobile Trending-------------------------------------*/
@media only screen and (max-width: 570px){
  .container {
    display: grid;
    width: 100%;
    height: 800px;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    background-color: #444;
    color: #fff;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

  .trending {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 20px;
  }

  .a {
    grid-area: a;

  }
  .b {
    grid-area: b;
    max-height: 100px;
  }
  .c {
    grid-area: c;
    max-height: 100px;
  }
  .d {
    grid-area: d;
  }

  .trending-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 20px;
  }

  .trending-news-date {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
  }

  .trending-news-main-title {
    font-size: 18px;
    color: #ffffff;
    margin-left: 20px;
  }

  .trending-news-title {
    font-size: 15px;
    color: #ffffff;
    margin-top: 60px;
  }

  .trending-news-preview {
   display: none;
  }

  .trending-side-img {
    width: 200px;
    height: 150px;
    float: left;
    object-fit: cover;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
  }

}

/* Highlight News */


/*Desktop Highlight New-------------------------------------*/
@media only screen and (min-width: 768px) {
  .highlight-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 450px);
    grid-template-areas:
                      "one two three"
                      "four five six";
    background-color: rgb(243, 240, 240);
    color: #444;
    width: 100%;
    height: 910px;
  }

  .news {
    border-radius: 5px;
    font-size: 150%;
    margin-top: 50px;
    margin-left: 40px;

  }

  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }

  .highlight-news-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .highlight-news-date {
    font-size: 14px;
    color: rgba(2, 10, 236, 0.6);
    margin-bottom: 8px;
  }

  .highlight-news-title {
    font-size: 20px;
    color: #003459;
    margin-bottom: 10px;
  }

  .highlight-news-preview {
    color: #003459;
    font-size: 15px;
  }
}

/*Mobile Highlight New-------------------------------------*/
@media only screen and (max-width: 570px){
  .highlight-news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px 400px;
    grid-template-areas:
                      "one"
                      "two"
                      "three"
                      "four"
                      "five"
                      "six";
    background-color: rgb(243, 240, 240);
    color: #444;
    width: 100%;
  }

  .news {
    border-radius: 5px;
  }

  .one {
    grid-area: one;
    margin-top: 50px;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
    margin-top: 50px;
  }
  .five {
    grid-area: five;
    margin-top: 50px;
  }
  .six {
    grid-area: six;
    margin-top: 50px;
  }

  .highlight-news-img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
  }

  .highlight-news-date {
    font-size: 14px;
    color: rgba(2, 10, 236, 0.6);
    margin-left: 20px;
  }

  .highlight-news-title {
    font-size: 20px;
    color: #003459;
    margin-left: 20px;
  }

  .highlight-news-preview {
    color: #003459;
    font-size: 15px;
    margin-left: 20px;
  }
}


/* Highlight Video */


/*Desktop Highlight Video-------------------------------------*/
@media only screen and (min-width: 768px) {

.highlight-videos {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  color: #fff;
  height: 450px;
  padding: 25px;
}

iframe {
  height: 400px;
}
}

/*Mobile Highlight Video-------------------------------------*/
@media only screen and (max-width: 570px){
  .highlight-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #444;
    color: #fff;
    height: 900px;
    align-items: center;
  }

  .clipone, .cliptwo, .clipthree, .clipfour {
    margin-top: 40px;
    margin-bottom: 30px;
  }

}




/* Footer */


/*Desktop Footer-------------------------------------*/
@media only screen and (min-width: 768px) {

footer {
  background-color: rgb(243, 240, 240);
  height: 100px;
  text-align: center;
}

.footer-logo {
  width: 180px;
  height: 70px;
}

.copyright-text {
  text-align: center;
}
}

/*Mobile Footer-------------------------------------*/
@media only screen and (max-width: 570px){
  footer {
    background-color: rgb(243, 240, 240);
    height: 100px;
    text-align: center;
  }

  .footer-logo {
    width: 180px;
    height: 70px;
  }

  .copyright-text {
    text-align: center;
  }
}

/*  Videos Page */

/*  Podcasts Page */

/*  Brands Page */

/*  Subscribe Page */
